
.sec_personajes figure{
    margin-bottom: 1rem;
    
}

.correcto{
    border:2px solid green;
}

.incorrecto{
    border:2px solid red;
}

img{
    border: 1px solid black;
    border-radius: 20px;
}

.puntuacion{
    text-align: center;
}
