/* CSS General */

@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "./reset.css";
@import "./header.css";
@import url("./menuPC.css") screen and (min-width:580px);
@import url("./menuMob.css") screen and (max-width:580px);

/*CSS para móvil*/
@media screen and (max-width:580px){
    .menuPC{
        display:none;
    }
    
    img{
        width: 200px;
    }

    .sec_personajes{
        display: block;
    }
    .sec_personajes img, .sec_personajes input{
        width: 100%;
    }
}

/*CSS para ordenador*/
@media screen and (min-width:580px){

    .menuMob{
        display:none;
    }

    main{
        width: 100%;
    }

    .seccionC{
        max-height: 210px;
    }

    section{
        width: 50%;
        margin: auto;
        background-color: white;
        margin-bottom: 2%;
        margin-top:1rem;
        border-radius: 10px;
    }

    .imgPC img{
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 100px;
    }

    figure.imgPC{
        float:left;
        width: 25%;
    }

    article p{
        float: left;
        width: 70%;
        margin-left: 1rem;
    }

    .secciones{
        margin: auto;
        background-image: url(../assets/muestra3.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 50%;
        min-height: 220px;
        position: absolute;
        margin-left: 25%;
    }

    .sec_personajes{
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
    }

    .sec_personajes img, .sec_personajes input{
        width: 50%;
    }

}

/* Común para todos los dispositivos */

body{
    background: #f99b2f; /* Old browsers */
    font-family: 'Permanent Marker', cursive;

}

article{
    
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
}

article p{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}

article,p{
    margin-top: 1rem;
}

figcaption{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.2rem;
}

footer {
    text-align: center;
    background-color: black;
    bottom: 0;
    color: white;
    width: 100%;
    margin-top:1rem;
    padding: 2rem; 
  }

.btnSug{
    width: 100%;
    background-color: #df7304;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid white;
    font-family: 'Permanent Marker', cursive;
}

.formResC{
    background-color: darkorange;
    border: 2px solid white;
    padding: 0rem 2rem 1rem 2rem;
    text-align:center;
    font-family: 'Permanent Marker', cursive;
    width: 50%;
    margin:auto;
    margin-top:2rem;
}

.formSugC{
    display:none;
    background-color: darkorange;
    border: 2px solid white;
    padding: 0rem 2rem;
    text-align:center;
    font-family: 'Permanent Marker', cursive;
    width: 50%;
    margin:auto;
    margin-top:2rem;
}

    .formSugC form{
        margin: 1rem 0rem 1rem 0rem;
    }

    .formSugC ul{
        margin-bottom: 1rem;
    }

    .formSugC input{
        text-align: center;
    }

    .formSugC input[type="text"],.formSugC input[type="email"],textarea{
        width: 100%;
    }

    .btnForm{
        border: 2px solid white;
        background-color: black;
        color: white;
        font-family: 'Permanent Marker', cursive;
    }

    .white{
        color:white;
    }

    .title{
        font-size:2rem;
    }

    .iSug{
        width: 100%;
        height: 5rem;
    }

.sec_personajes{
    background-color: blanchedalmond;
    font-family: 'Permanent Marker', cursive;
    padding: 1rem;
}


.sec_personajes div {
    width: 45%;
    margin:auto;
    float:none;
    text-align:center;
}

