/* CSS General */

@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import "./reset.css";
@import "./header.css";
@import url("./menuPC.css") screen and (min-width:800px);
@import url("./menuMob.css") screen and (max-width:800px);

/*CSS para móvil*/
@media screen and (max-width:800px){
    .menuPC{
        display:none;
    }
    
    img{
        width: 200px;
    }

    .sec_personajes{
        display: block;
    }
    .sec_personajes img, .sec_personajes input{
        width: 100%;
    }

    section.sec_parejas{
        width:100%;
    }

    .aside_oculto{
        display:none;
        width: 100%;
        text-align: center;
        margin-top: 4%;
    }

    .aside_visible{
        cursor: pointer;
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        margin-top:1rem;
        padding: 1rem 0rem;
        background-color: peru;
    }

    article p{
        background-color: white;
    }
}

/*CSS para ordenador*/
@media screen and (min-width:800px){

    .menuMob{
        display:none;
    }

    main{
        width: 100%;
    }

    .seccionC{
        max-height: 210px;
    }

    section{
        width: 50%;
        margin: auto;
        background-color: white;
        margin-bottom: 1%;
        margin-top:1rem;
        border-radius: 10px;
    }

    .imgPC img{
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 100px;
    }

    figure.imgPC{
        float:left;
        width: 25%;
    }

    article p{
        float: left;
        width: 70%;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .secciones{
        margin: auto;
        background-image: url(../assets/muestra3.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 50%;
        min-height: 220px;
        position: absolute;
        margin-left: 25%;
    }

    .sec_personajes{
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
    }

    .sec_personajes img, .sec_personajes input{
        width: 50%;
    }

    .aside_principal{
        width: 20%;
        height: 300px;
        float: left;
        margin-left: 2%;
        text-align: center;
       
        margin-top: -2%;
        z-index: -1;
    }

    .aside_oculto{
        display:none;
        width: 20%;
        height: 100%;
        float: left;
        margin-left: 2%;
        text-align: center;
        position: fixed;
        margin-top: 4%;
        background-image: url(../assets/sabiasque.png);
        background-repeat: repeat;
        background-size: 100%;
    }

    .aside_visible{
        cursor: pointer;
        margin-left: 9%;
        text-align: center;
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        padding: 0.2rem;
    }

}

/* Común para todos los dispositivos */

body{
    background: #f99b2f; /* Old browsers */
    font-family: 'Permanent Marker', cursive;
}

article{
    
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
}

article p{
    border-radius: 10px;
    padding: 1rem;
}

article,p{
    margin-top: 1rem;
}

figcaption{
    border-radius: 10px;
    padding: 0.2rem;
}

footer {
    text-align: center;
    background-color: black;
    bottom: 0;
    color: white;
    width: 100%;
    margin-top:1rem;
    padding: 2rem; 
   
  }

.btnSug{
    width: 100%;
    background-color: #df7304;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid white;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
}

.formResC{
    background-color: darkorange;
    border: 2px solid white;
    padding: 0rem 2rem 1rem 2rem;
    text-align:center;
    font-family: 'Permanent Marker', cursive;
    width: 50%;
    margin:auto;
    margin-top:2rem;
}

.formSugC{
    display:none;
    background-color: darkorange;
    border: 2px solid white;
    padding: 0rem 2rem;
    text-align:center;
    font-family: 'Permanent Marker', cursive;
    width: 50%;
    margin:auto;
    margin-top:2rem;
}

    .formSugC form{
        margin: 1rem 0rem 1rem 0rem;
    }

    .formSugC ul{
        margin-bottom: 1rem;
    }

    .formSugC input{
        text-align: center;
    }

    .formSugC input[type="text"],.formSugC input[type="email"],textarea{
        width: 100%;
    }

    .btnForm{
        border: 2px solid white;
        background-color: black;
        color: white;
        font-family: 'Permanent Marker', cursive;
        cursor: pointer;
    }

    .white{
        color:white;
    }

    .title{
        font-size:2rem;
    }

    .iSug{
        width: 100%;
        height: 5rem;
    }

.sec_personajes{
    background-color: blanchedalmond;
    font-family: 'Permanent Marker', cursive;
    padding: 1rem;
}


.sec_personajes div {
    width: 45%;
    margin:auto;
    float:none;
    text-align:center;
}

.desc{
    font-family: 'Indie Flower', cursive;
    height: 180px;
    overflow-y: scroll;
}

/* Efecto animado index.html para el boton de JUGAR*/

.enlace_anim {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 20px;
  }

  .enlace_anim:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    width: 100%;
    background-color: #f99b2f;
    animation: width 0.5s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px;
  }


  .enlace_anim:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .sonido{
    margin-bottom: 1%;
      text-align: center;
      cursor: pointer;
  }