.row{
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid;
}

p{
    padding-left: 1rem;
    color: black;
}

.titleEv{
    font-size: 1rem;
    background-color: black;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    color:white;
    width: 100%;
    font-weight: bold;
}

article{
    width: 100%;
}

a{
    padding:0px;
    width:100%;
}

.linkRes{
    padding-left:1rem;
    padding-bottom:0.5rem;
}

figure{
    text-align: center;
}

img{
    width: 50%;
}
.actv_img{
    width: 20%;
    float: left;
}

.actv_info{
    width: 80%;
    float: right
}