.map {
    width: 500px;
    height: 400px;
    margin-left: 1em;
    margin: auto
}

.mapas{
    overflow: hidden;
    margin: auto;
    width: 40%;
}

main{
    text-align: center;
}

.buscar{
    margin-top: 2px;
    text-align: center;
}