.secciones{
    margin: auto;
    //background-image: url('./assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 50%;
    border:3px solid black;
    min-height: 200px;
    margin-left: 25%;
    margin-top: 1rem;
}

.seccionC{
    article{
        text-align: center;
    }
    figure{
        text-align: center;
        .index_img{
            width: 50%;
            transition:all 0.3s linear;
            &:hover{
               opacity: 0.01;
            }
        }

    }
}