.izq{
    width: 25%;
    margin: 0px;
    float: left;
    margin-right: 1rem;
}
.der{
    margin-left: 1rem;
    margin-right: 1rem;
}

.info{
    background-color: white;
    border-radius: 50px;
    padding: 15px;
}

.row{
    margin-top: 1rem;
    margin-left: 1rem;
}
