<!-- <section>
    <article class="principal">
        <figure class="izq">
            <img src="{{imagen}}">
            <figcaption>{{nombre}}</figcaption>
        </figure>
        <div class="der">
          <p class="desc">
            {{informacion}}
          </p>
        </div>
    </article>
</section> -->

<div class="row">
        <div class="col-sm-2 col-md-4">
          <div class="thumbnail">
            <img src="{{imagen}}" alt="{{nombre}}">
            <div class="caption">
              <h3>{{nombre}}</h3>
              <p>{{informacion}}</p>
              <p><a href="#" class="btn btn-primary" role="button">Contar Historia</a></p>
            </div>
          </div>
        </div>
</div>