<div class="container">
  <div class="row">
  <nav class="col">
      <ul class="nav nav-pills">
           <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
          </li>
          <li class="nav-item nav-link">
                  <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
          </li>
          <!--<li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="comunics">Comunicaciones</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="agenda">Agenda</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="libros">Libros</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="impresora">Imprimir</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="contactos">Contactos</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLinkActive="active" routerLink="about">Acerca de</a>
          </li> -->
      </ul>
    </nav>
   </div>
  </div>