<div class="container container-fluid">
  <form class="formulario" #form2="ngForm" (ngSubmit)="enviar()">

    <fieldset>
      <legend>Comentario para el Blog</legend>
    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Indica tu nombre" required minlength="3" [(ngModel)]="oPost.nombre"
        #nameState="ngModel">
    </div>
    <div [hidden]="nameState.valid || nameState.untouched ">
      <div class="error-message" [hidden]="!nameState.errors?.required">
        El nombre es obligatorio</div>
      <div class="error-message" [hidden]="!nameState.errors?.minlength">
        El nombre debe tener un mínimo de 3 caracteres
      </div>
    </div>

    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" required placeholder="Indica tu email" [(ngModel)]="oPost.email"
        #emailState="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
    </div>

    <div [hidden]="emailState.valid || emailState.untouched ">
      <div class="error-message" [hidden]="!emailState.errors?.required">
        El email es obligatorio</div>
      <div class="error-message" [hidden]="!emailState.errors?.pattern">
        El email no cumple con lo establecido
      </div>
    </div>

    <div class="md-form">
      <i class="fa fa-key prefix grey-text"></i>
      <label for="eventid">Evento</label>
      <select name="eventid" id="eventid" required [(ngModel)]="oPost.idEvent">
        <option *ngFor="let event of aEvents" [ngValue]="event.id">{{event.title}}</option>
      </select>
      <!-- <input type="text" id="eventid" name="eventid" class="form-control" placeholder="Indica el ID del evento o en blanco para general"
        [(ngModel)]="oPost.idEvent"> -->
    </div>

    <div class="md-form">
      <i class="fa fa-pencil prefix grey-text"></i>
      <label for="comentario">Comentario</label>
      <textarea type="text" id="comentario" class="form-control md-textarea" name="comentario" rows="3" placeholder="Escribe un comentario"
        [(ngModel)]="oPost.comentario"></textarea>
    </div>
    </fieldset>

    <div class="text-center mt-4">
      <button class="btn btn-outline-primary" type="submit" [disabled]="form2.invalid">Enviar
        <i class="fa fa-paper-plane-o ml-2"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="btnBorrar()">Borrar
        <i class="fa fa-eraser ml-2"></i>
      </button>
    </div>
  </form>
</div>