/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Itim');

.fondo{
    position: fixed;
    z-index: -9999;
    background-color: black;
    background-image: url(/assets/fondo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

body{
    min-height: 30rem;
    font-family: 'Itim', cursive;
}

main{
    margin: 1rem 1rem;
    border-radius: 0.3rem;
    background-color: rgba(255,255,255,0.5);
    min-height: 30rem;
    padding: 1rem;
}

.titleSection{
    text-align: center;
}

li{
    list-style: none;
}
