<div class="panel panel-default">
  <div class="panel-heading">{{title}} <input type="checkbox" name="muestra" checked="checked" (click)= "muestraAside()"></div>
  <div class="panel-body check-element animate-show-hide" *ngIf="muestra">
    <p>
      <button class="btn btn-outline-info" (click) = "getNext5Events()">5</button>
      <button class="btn btn-outline-info" (click) = "getNext10Events()">10</button>
      <button class="btn btn-outline-info" (click) = "getNext15Events()">15</button>
    </p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let event of aEvents" (click)="btnEvent()"><a class="nav-link linkRes" routerLinkActive="active" [routerLink]="['/actividades', event.id]">{{event.title}}</a></li>
    </ul>
  </div>
</div>