<template id="trivial">
        <article>
                <p>Pregunta 1</p>
                <input type="radio" name="respuesta" id="respuesta1" value="">
                <input type="radio" name="respuesta" id="respuesta2">
                <input type="radio" name="respuesta" id="respuesta3">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 2</p>
                <input type="radio" name="respuesta" id="respuesta1" value="">
                <input type="radio" name="respuesta" id="respuesta2">
                <input type="radio" name="respuesta" id="respuesta3">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 3</p>
                <input type="radio" name="respuesta" id="respuesta1" value="">
                <input type="radio" name="respuesta" id="respuesta2">
                <input type="radio" name="respuesta" id="respuesta3">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 4</p>
                <input type="radio" name="respuesta" id="respuesta1" value="">
                <input type="radio" name="respuesta" id="respuesta2">
                <input type="radio" name="respuesta" id="respuesta3">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 5</p>
                <input type="radio" name="respuesta" id="respuesta1" value="">
                <input type="radio" name="respuesta" id="respuesta2">
                <input type="radio" name="respuesta" id="respuesta3">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 6</p>
                <input type="radio" name="respuesta" id="respuesta1" value="">
                <input type="radio" name="respuesta" id="respuesta2">
                <input type="radio" name="respuesta" id="respuesta3">
                <input type="hidden" value="">
        </article>
</template>