<template id="trivial">
        <article>
                <div id="pregunta">Preguntas</div>
                <div id="respuestas">Respuestas</div>
        </article>

   <!--      <article>
                <p>Pregunta 2</p>
                <input type="radio" name="res2" id="respuesta4" value="">
                <input type="radio" name="res2" id="respuesta5" value="">
                <input type="radio" name="res2" id="respuesta6" value="">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 3</p>
                <input type="radio" name="res3" id="respuesta1" value="">
                <input type="radio" name="res3" id="respuesta2" value="">
                <input type="radio" name="res3" id="respuesta3" value="">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 4</p>
                <input type="radio" name="res4" id="respuesta1" value="">
                <input type="radio" name="res4" id="respuesta2" value="">
                <input type="radio" name="res4" id="respuesta3" value="">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 5</p>
                <input type="radio" name="res5" id="respuesta1" value="">
                <input type="radio" name="res5" id="respuesta2" value="">
                <input type="radio" name="res5" id="respuesta3" value="">
                <input type="hidden" value="">
        </article>

        <article>
                <p>Pregunta 6</p>
                <input type="radio" name="res6" id="respuesta1" value="">
                <input type="radio" name="res6" id="respuesta2" value="">
                <input type="radio" name="res6" id="respuesta3" value="">
                <input type="hidden" value="">
        </article> -->
</template>