<div class="container container-fluid">
    <div class="muestra_form">
        <button class="btn btn-light" (click)="btnMostrarOcultar()" role="button">{{etiqueta}} Formulario</button>
    </div>
    <form class="formulario" [hidden]="mostrar" #form1="ngForm" (ngSubmit)="enviar()">
        <p class="h2 text-center mb-2">Sugerencias</p>

        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Indica tu nombre" required minlength="3" [(ngModel)]="oUsuario.nombre"
                #nameState="ngModel">
        </div>
        <div [hidden]="nameState.valid || nameState.untouched ">
            <div class="error-message" [hidden]="!nameState.errors?.required">
                El nombre es obligatorio</div>
            <div class="error-message" [hidden]="!nameState.errors?.minlength">
                El nombre debe tener un mínimo de 3 caracteres
            </div>
        </div>

        <div class="md-form">
            <i class="fa fa-address-card prefix grey-text"></i>
            <label for="">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" class="form-control" required minlength="3" placeholder="Indica tu apellido"
                [(ngModel)]="oUsuario.apellidos" #apellidosState="ngModel">
        </div>

        <div [hidden]="apellidosState.valid || apellidosState.untouched ">
            <div class="error-message" [hidden]="!apellidosState.errors?.required">
                El apellido es obligatorio</div>
            <div class="error-message" [hidden]="!apellidosState.errors?.minlength">
                El apellido debe tener un mínimo de 3 caracteres
            </div>
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <label for="">Email</label>
            <input type="email" id="email" name="email" class="form-control" required placeholder="Indica tu email" [(ngModel)]="oUsuario.email"
                #emailState="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        </div>

        <div [hidden]="emailState.valid || emailState.untouched ">
            <div class="error-message" [hidden]="!emailState.errors?.required">
                El email es obligatorio</div>
            <div class="error-message" [hidden] = "!emailState.errors?.pattern">
                    El email no cumple con lo establecido
            </div>
        </div>

        <div class="md-form">
            <fieldset>
                    <legend><i class="fa fa-transgender prefix grey-text"></i>Sexo</legend>
                    <label for="m">Masculino</label>
                    <input type="radio" id="m" name="sexo" class="form-control" name="sexo" value="Masculino" [(ngModel)]="oUsuario.sexo"
                            #sexoSel="ngModel">
                    <label for="f">Femenino</label>
                    <input type="radio" id="f" name="sexo" class="form-control" name="sexo" value="Femenino" [(ngModel)]="oUsuario.sexo" #sexoSel="ngModel">
            </fieldset>
           
        </div>
        <i class="fa fa-star prefix grey-text"></i>
        <label for="">Preferencias</label>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"  name="preferencias" [(ngModel)]="oUsuario.preferencias.cultura"> Cultural
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"  name="preferencias"  [(ngModel)]="oUsuario.preferencias.deportes"> Deportes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"  name="preferencias"  [(ngModel)]="oUsuario.preferencias.aventura"> Aventura
            </label>
        </div>

        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <label for="">Mensaje</label>
            <textarea type="text" id="" class="form-control md-textarea" name="sugerencia" rows="3" placeholder="Escribe una sugerencia"
            [(ngModel)]="oUsuario.sugerencia"></textarea>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-outline-secondary" type="submit">Enviar
                <i class="fa fa-paper-plane-o ml-2"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="btnBorrar()">Borrar
                <i class="fa fa-eraser ml-2"></i>
            </button>
        </div>
    </form>
</div>